{% extends 'v1_admin/base.html' %}
{% load static %}


{% block main %}
    <div class="col-md-12">
        <div class="content-box">
            <div class="head success-bg clearfix">
                <h5 class="content-title pull-left">查看靶标</h5>
                <div class="functions-btns pull-right">
                    <a class="refresh-btn" href="#"><i class="zmdi zmdi-refresh"></i></a>
                    <a class="fullscreen-btn" href="#"><i class="zmdi zmdi-fullscreen"></i></a>
                    <a class="close-btn" href="#"><i class="zmdi zmdi-close"></i></a>
                </div>
            </div>

            <div class="content">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>名称</th>
                            <th>IP地址</th>
                            <th>操作系统</th>
                            <th>服务类型</th>
                            <th>描述</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>cup</td>
                            <td>*</td>
                            <td>CentOS</td>
                            <td>Web</td>
                            <td>AIT Log数据集</td>
                        </tr>
                        </tbody>
                    </table>
                </div>


            </div>


        </div>
    </div>
{% endblock main %}
